<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <!-- The email address with which you log into Active Collab. -->
        <add key="UserEmail" value="your.email@example.com" />

        <!-- The password with which you log into Active Collab. -->
        <add key="UserPassword" value="YourP@ssw0rd" />
        
        <!-- The CloudInstanceID should be the number in the URL after -->
        <!-- "https://app.activecollab.com/" when you log in to Active Collab. -->
        <add key="CloudInstanceID" value="123456"/>

        <!-- The name of the program that will be using this key. -->
        <add key="ClientName" value="YourProgram" />
        
        <!-- The name of the individual or company who is requesting this key. -->
        <add key="ClientVendor" value="YourCompanyOrFullName"/>
    </appSettings>
</configuration>